---
layout: layout.njk
myOtherData: hello
---
<div id="main-content" class="main-content">

    <div class="section">
        <div class="container">
            <div class="section-heading">
                <h2>BRENNSERVICE</h2>
                <hr/>
            </div>
            <div class="section-content">
              {{ content | safe }}
            </div>
        </div>
    </div>
</div>

